.main-container h2 {
    margin-top: 40px;
    text-align: center;
}
.main-container .station-list li {
  background: #1b1b21;
  margin: 10px 0;
  border-radius: 15px;
  padding: 20px;
}
.main-container .station-list li h3 {
  color: #dda9d4;
}