.pagination {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.pagination button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
  color: #fff;
}

.pagination .active {
  background-color: #daa520;
  color: #fff;
  font-weight: bold;
}

.pagination .arrow {
  font-weight: bold;
}
.pagination .arrow:hover {
  background: #daa520;
}

.pagination .dots {
  display: inline-block;
  padding: 6px 10px;
  color: #666;
}